<h1 class="center">Employee Dashboard</h1>

<h3 class="center">Please register a new employee</h3>

<form [formGroup]="formGroup" class="center form">
  <label for="name"><span>*</span>Name: </label>

  <input formControlName="name" id="name" />

  <br />

  <label for="salary"><span>*</span>Salary: </label>

  <input type="number" formControlName="salary" id="salary" />

  <br />

  <label for="age"> <span>*</span>Age: </label>

  <input type="number" formControlName="age" id="age" />

  <br />

  <button [disabled]="formGroup.invalid" (click)="onClick()">Register</button>
</form>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Salary</th>
    <th>Age</th>
  </tr>

  <tr *ngFor="let employee of employees; let index = index">
    <td>
      <span>{{ counter }}</span>
    </td>
    <td>
      <span>{{ employee.name }}</span>
    </td>
    <td>
      <span>{{ employee.salary }}</span>
    </td>
    <td>
      <span>{{ employee.age }}</span>
    </td>
    <!-- <td>
      <span>{{ user.number }}</span>
    </td> -->

    <!-- <td><button (click)="removeItem(user)">Remove user</button></td>

    <td><button (click)="update(user)">Update User</button></td> -->
  </tr>
</table>
